Repository cernopendata/opendata.cern.ch, pull requests merged in 2018-04, with the labels that each got.

#2368 fixtures: split missing config files
  cernopendata/modules/fixtures/data/records/cms-hlt-2011-configuration-files.json
  cernopendata/modules/fixtures/data/records/cms-hlt-configuration-files-2012.json
  cernopendata/modules/fixtures/data/records/cms-pileup-configuration-files.json
  cernopendata/modules/fixtures/data/records/cms-reco-configuration-files-2012.json
Labels: Status: in review

#2371 records: CMS 2011 HT file addition
  cernopendata/modules/fixtures/data/records/cms-primary-datasets-Run2011A.json
Labels: Experiment: CMS, Status: in review, Topic: files, Topic: records

#2375 search: better search page scaling
  cernopendata/modules/theme/static/scss/styles.scss
  cernopendata/templates/cernopendata/search.html
Labels: Topic: search

#2377 docs: EOS support email address fix
  cernopendata/modules/fixtures/data/docs/cms-guide-troubleshooting/cms-guide-troubleshooting.md
Labels: Status: in review, Topic: docs

#2372 records: OPERA tau appearance event 9234119599
  cernopendata/modules/fixtures/data/records/opera-detector-events-tau-neutrino.json
  cernopendata/modules/fixtures/data/records/opera-ecc-datasets.json
  cernopendata/modules/fixtures/data/records/opera-ed-datasets.json
Labels: Experiment: OPERA, Status: in review, Topic: records

#2386 docs: updates 'About OPERA'
  cernopendata/modules/fixtures/data/docs/opera-about/opera-about.md
Labels: Experiment: OPERA, Status: in review, Topic: docs

#2383 opera: updates opera previewer
  cernopendata/modules/theme/bundles.py
  cernopendata/templates/cernopendata_pages/visualise_events_opera.html
Labels: Status: in review

#2385 docs: OPERA release statement changes
  cernopendata/modules/fixtures/data/docs/opera-news-first-release/opera-news-first-release.json
  cernopendata/modules/fixtures/data/docs/opera-news-first-release/opera-news-first-release.md
Labels: Experiment: OPERA, Status: in review, Topic: docs

#2388 opera: bumps version in previewer
  cernopendata/modules/theme/bundles.py
  cernopendata/templates/cernopendata_pages/visualise_events_opera.html
Labels: Status: in review

#2391 records: more OPERA tau neutrino candidate events
  cernopendata/modules/fixtures/data/records/opera-detector-events-tau-neutrino.json
Labels: Experiment: OPERA, Status: in review, Topic: files, Topic: records

#2392 records: richer OPERA tau dataset description
  cernopendata/modules/fixtures/data/records/opera-ecc-datasets.json
  cernopendata/modules/fixtures/data/records/opera-ed-datasets.json
Labels: Experiment: OPERA, Status: in review, Topic: files, Topic: records

#2395 templates: update of the ATLAS Public URL
  cernopendata/templates/cernopendata_theme/footer.html
Labels: Experiment: ATLAS, Status: in review, Topic: templates

#2397 records: enriched OPERA tau neutrino datasets
  cernopendata/modules/fixtures/data/records/opera-ecc-datasets.json
  cernopendata/modules/fixtures/data/records/opera-ed-datasets.json
Labels: Experiment: OPERA, Need: work, Status: in review, Topic: records

#2402 records: new author list file for OPERA
  cernopendata/modules/fixtures/data/records/opera-author-list-multiplicity.json
  cernopendata/modules/fixtures/data/records/opera-author-list-tau.json
Labels: Experiment: OPERA, Status: in review, Topic: records

#2405 records: OPERA clean up and updates
  DEVELOPING.rst
  cernopendata/modules/fixtures/data/docs/cms-observing-higgs-2017/cms-observing-higgs-2017.json
  cernopendata/modules/fixtures/data/docs/cod-welcome/cod-welcome.json
  cernopendata/modules/fixtures/data/docs/opera-news-first-release/opera-news-first-release.json
  cernopendata/modules/fixtures/data/records/opera-author-list-multiplicity.json
  cernopendata/modules/fixtures/data/records/opera-author-list-tau.json
  cernopendata/modules/fixtures/data/records/opera-detector-events-tau-neutrino.json
  cernopendata/modules/fixtures/data/records/opera-detector-events-tau.json
  cernopendata/modules/fixtures/data/records/opera-ecc-datasets.json
  cernopendata/modules/fixtures/data/records/opera-ed-datasets.json
Labels: Experiment: OPERA, Status: in review, Topic: docs, Topic: records
