Repository cernopendata/opendata.cern.ch, pull requests merged in 2019-07, with the labels that each got.

#2705 records: add example notebook link
  cernopendata/modules/fixtures/data/records/cms-derived-Phase2-datascience.json
Labels: CMS: derived datasets, Experiment: CMS, Topic: records

#2707 records: add file indexes to ML MC
  cernopendata/modules/fixtures/data/records/cms-simulated-datasets-Phase2-datascience.json
Labels: CMS: MC, Experiment: CMS, Topic: records

#2714 records: add file indexes to Run2010A
  cernopendata/modules/fixtures/data/records/cms-primary-datasets.json
Labels: CMS: primary datasets, Experiment: CMS, Topic: files

#2715 records: add file indexes to 2010 Commissioning
  cernopendata/modules/fixtures/data/records/cms-primary-datasets-Commissioning2010.json
Labels: CMS: primary datasets, Experiment: CMS, Topic: files

#2719 records: add file indexes to CASTOR MC
  cernopendata/modules/fixtures/data/records/cms-simulated-datasets-2010-commissioning.json
Labels: CMS: MC, Experiment: CMS, Topic: files

#2722 records: update events, files, size for record 14100
  cernopendata/modules/fixtures/data/records/cms-simulated-datasets-2010-commissioning.json
Labels: Experiment: CMS

#2728 CMS: update lumi description
  cernopendata/modules/fixtures/data/records/cms-luminosity-information.json
Labels: CMS: luminosity, Experiment: CMS, Topic: records

#2730 docs: add mention about the wrong shell
  cernopendata/modules/fixtures/data/docs/cms-getting-started-2011/cms-getting-started-2011.md
  cernopendata/modules/fixtures/data/docs/cms-virtual-machine-2011/cms-virtual-machine-2011.md
Labels: CMS: instructions, Experiment: CMS, Topic: docs

#2740 records: add number of entries
  cernopendata/modules/fixtures/data/records/cms-derived-Run2-datascience.json
Labels: CMS: derived datasets, Experiment: CMS, Topic: records

#2364 robots: introduces robots.txt
  MANIFEST.in
  cernopendata/modules/pages/views.py
  cernopendata/templates/cernopendata_pages/robots.txt
Labels: Status: in review

#2744 docs: update link
  cernopendata/modules/fixtures/data/docs/cms-guide-pileup-simulation/cms-guide-pileup-simulation.md
Labels: CMS: MC, Experiment: CMS, Topic: docs

#2754 records: correct n of files recid 13
  cernopendata/modules/fixtures/data/records/cms-primary-datasets.json
Labels: CMS: primary datasets, Experiment: CMS, Topic: records

#2758 records: fixes data taking year for recid 44
  cernopendata/modules/fixtures/data/records/cms-raw-datasets-Run2010B.json
Labels: CMS: raw data, Experiment: CMS, Topic: records

#2761 docs: fix typo
  cernopendata/modules/fixtures/data/docs/cms-guide-trigger-system/cms-guide-trigger-system.md
Labels: CMS: instructions, Experiment: CMS, Topic: docs

#2764 records: adds data-taking year
  cernopendata/modules/fixtures/data/records/cms-derived-nanoaod-outreach-DoubleMuParked.json
Labels: CMS: derived datasets, Experiment: CMS, Topic: records

#2759 docs: release note
  cernopendata/modules/fixtures/data/docs/cms-releases-open-data-for-machine-learning-2019/cms-releases-open-data-for-machine-learning-2019.json
  cernopendata/modules/fixtures/data/docs/cms-releases-open-data-for-machine-learning-2019/cms-releases-open-data-for-machine-learning-2019.md
  cernopendata/modules/theme/static/docs/cms-releases-open-data-for-machine-learning-2019/cms-machine-learning-2019-01-28.jpg
Labels: Experiment: CMS, Topic: docs

#2768 docs: update 1st paragraph
  cernopendata/modules/fixtures/data/docs/cms-releases-open-data-for-machine-learning-2019/cms-releases-open-data-for-machine-learning-2019.md
Labels: Experiment: CMS, Topic: docs

#2771 docs: fix typo in release note
  cernopendata/modules/fixtures/data/docs/cms-releases-open-data-for-machine-learning-2019/cms-releases-open-data-for-machine-learning-2019.md
Labels: Experiment: CMS, Topic: docs

#2773 records: fix ref. plot description
  cernopendata/modules/fixtures/data/records/cms-tools-nanoaod-outreach-dimuon-spectrum.json
Labels: CMS: software, Experiment: CMS, Topic: records
