Repository cernopendata/opendata.cern.ch, pull requests merged in 2019-05, with the labels that each got.

#2586 records: adds new CMS ML software records
  cernopendata/modules/fixtures/data/records/cms-tools-Run2-datascience.json
Labels: Lane: fast, Status: in review

#2601 Add records for tracker-hit-enriched Run1 AOD and ML files, and SW
  cernopendata/modules/fixtures/data/records/cms-derived-Run1-datascience.json
  cernopendata/modules/fixtures/data/records/cms-derived-Run2-datascience.json
  cernopendata/modules/fixtures/data/records/cms-simulated-datasets-Run1-datascience.json
  cernopendata/modules/fixtures/data/records/cms-tools-Run1-datascience.json
Labels: CMS: MC, Experiment: CMS, Status: in review, Topic: records

#2609 Add SW record for Run2 Hbb tagging studies
  cernopendata/modules/fixtures/data/records/cms-tools-Run2-datascience.json
Labels: CMS: software, Experiment: CMS, Status: in review, Topic: records

#2599 Adds data records for upgrade MC samples
  cernopendata/modules/fixtures/data/records/cms-simulated-datasets-Phase2-datascience.json
Labels: CMS: MC, Experiment: CMS, Status: in review, Topic: records

#2603 Add SW record for upgrade ML example
  cernopendata/modules/fixtures/data/records/cms-tools-Phase2-datascience.json
  cernopendata/modules/fixtures/data/records/cms-tools-Run1-datascience.json
  cernopendata/modules/fixtures/data/records/cms-tools-Run2-datascience.json
Labels: CMS: software, Experiment: CMS, Status: in review, Topic: records

#2611 records: CMS Run2 Hbb derived files
  cernopendata/modules/fixtures/data/records/cms-derived-Run2-datascience.json
Labels: Status: in review

#2612 Add FEVTDEBUGHLT dataset to Phase2 MC
  cernopendata/modules/fixtures/data/records/cms-simulated-datasets-Phase2-datascience.json
Labels: CMS: MC, Experiment: CMS, Status: in review, Topic: records

#2615 Fixes in jt tuple ML record
  cernopendata/modules/fixtures/data/records/cms-derived-Run2-datascience.json
Labels: Status: in review

#2624 records: updates to ML records
  cernopendata/modules/fixtures/data/records/cms-derived-Phase2-datascience.json
  cernopendata/modules/fixtures/data/records/cms-derived-Run2-datascience.json
  cernopendata/modules/fixtures/data/records/cms-tools-Phase2-datascience.json
Labels: CMS: derived datasets, CMS: software, Experiment: CMS, Status: in review, Topic: records

#2627 records: update title in Run2 jet tuple ML file
  cernopendata/modules/fixtures/data/records/cms-derived-Run2-datascience.json
Labels: CMS: derived datasets, Experiment: CMS, Status: in review, Topic: records

#2631 templates: outage warning OTG0049024
  cernopendata/templates/cernopendata_theme/header.html
Labels: Lane: fast

#2628 records: updates to Run1 datascience files
  cernopendata/modules/fixtures/data/records/cms-derived-Run1-datascience.json
  cernopendata/modules/fixtures/data/records/cms-simulated-datasets-Run1-datascience.json
  cernopendata/modules/fixtures/data/records/cms-tools-Run1-datascience.json
Labels: CMS: MC, CMS: derived datasets, CMS: software, Experiment: CMS, Status: in review, Topic: records

#2632 templates: outage warning OTG0049024 ends
  cernopendata/templates/cernopendata_theme/header.html
Labels: Lane: fast

#2600 Updates CMS pile-up GEN-SIM records
  cernopendata/modules/fixtures/data/records/cms-pileup-datasets-2011.json
  cernopendata/modules/fixtures/data/records/cms-pileup-datasets-2012.json
Labels: CMS: MC, Experiment: CMS, Lane: fast, Status: in review, Topic: records

#2461 Create cms-trigger-information-2010.json
  cernopendata/modules/fixtures/data/records/cms-trigger-information-2010.json
Labels: Lane: fast, Status: in review

#2637 records: update usage description for validated runs
  cernopendata/modules/fixtures/data/records/cms-validated-runs-Run2012B.json
  cernopendata/modules/fixtures/data/records/cms-validated-runs.json
Labels: CMS: validated runs, Experiment: CMS, Topic: records
