Repository cernopendata/opendata.cern.ch, pull requests merged in 2019-06, with the labels that each got.

#2640 docs: update provenance for 2010 primary data
  cernopendata/modules/fixtures/data/records/cms-primary-datasets.json
Labels: CMS: primary datasets, Experiment: CMS, Topic: records

#2639 docs: update VM version to 1.5.1
  cernopendata/modules/fixtures/data/docs/cms-getting-started-2011/cms-getting-started-2011.md
  cernopendata/modules/fixtures/data/docs/cms-guide-for-conddb/cms-guide-for-conddb.md
  cernopendata/modules/fixtures/data/docs/cms-virtual-machine-2011/cms-virtual-machine-2011.md
Labels: CMS: instructions, Experiment: CMS

#2424 search: fix collision type facet
  cernopendata/templates/cernopendata/search.html
Labels: Status: in review

#2649 docs: fixes recid for the HLT information
  cernopendata/modules/fixtures/data/docs/cms-guide-trigger-system/cms-guide-trigger-system.md
Labels: CMS: instructions, CMS: trigger, Experiment: CMS, Topic: docs

#2651 reocrds: update the description to include RunA
  cernopendata/modules/fixtures/data/records/cms-validated-runs.json
Labels: CMS: validated runs, Experiment: CMS, Topic: records

#2659 docs: update policy, add a mention of MC
  cernopendata/modules/fixtures/data/docs/cms-about/cms-about.md
  cernopendata/modules/fixtures/data/docs/cms-guide-for-conddb/cms-guide-for-conddb.md
  cernopendata/modules/fixtures/data/docs/cms-guide-for-research/cms-guide-for-research.md
Labels: CMS: instructions, Experiment: CMS, Topic: docs

#2607 Add data records related to castor
  cernopendata/modules/fixtures/data/records/cms-primary-datasets-Commissioning2010.json
  cernopendata/modules/fixtures/data/records/cms-simulated-datasets-2010-commissioning.json
  cernopendata/modules/fixtures/data/records/cms-validated-runs-Commissioning2010-castor.json
Labels: CMS: MC, CMS: primary datasets, Experiment: CMS, Lane: fast, Status: in review, Topic: records

#2647 Update cms-tools-Phase2-datascience.json
  cernopendata/modules/fixtures/data/records/cms-tools-Phase2-datascience.json
Labels: CMS: software, Experiment: CMS, Topic: records

#2646 Update cms-derived-Phase2-datascience.json
  cernopendata/modules/fixtures/data/records/cms-derived-Phase2-datascience.json
Labels: CMS: derived datasets, Experiment: CMS, Topic: records

#2661 records: updates to castor files
  cernopendata/modules/fixtures/data/records/cms-simulated-datasets-2010-commissioning.json
Labels: CMS: MC, Experiment: CMS, Topic: records

#2662 records: updates to commisioning records
  cernopendata/modules/fixtures/data/records/cms-primary-datasets-Commissioning2010.json
Labels: CMS: primary datasets, Experiment: CMS, Topic: records

#2630 Add cms event production documentation (addresses #2344)
  cernopendata/modules/fixtures/data/docs/cms-guide-event-production/cms-guide-event-production.json
  cernopendata/modules/fixtures/data/docs/cms-guide-event-production/cms-guide-event-production.md
  cernopendata/modules/fixtures/data/records/cms-tools-eventproduction-examples.json
Labels: CMS: MC generation, CMS: instructions

#2664 docs: cross-link mc docs
  cernopendata/modules/fixtures/data/docs/cms-guide-event-production/cms-guide-event-production.md
  cernopendata/modules/fixtures/data/docs/cms-mc-production-overview/cms-mc-production-overview.md
Labels: CMS: MC generation, CMS: instructions, Experiment: CMS, Topic: docs

#2645 records: new CMS VM image 1.5.1
  cernopendata/modules/fixtures/data/records/cms-tools-vm-image-2012.json
  cernopendata/modules/fixtures/data/records/cms-tools-vm-image-Run2011A.json
Labels: Experiment: CMS, Topic: files, Topic: records

#2596 Add Run1 RAW
  cernopendata/modules/fixtures/data/records/cms-raw-datasets-Run2010B.json
  cernopendata/modules/fixtures/data/records/cms-raw-datasets-Run2011A.json
  cernopendata/modules/fixtures/data/records/cms-raw-datasets-Run2012B.json
Labels: CMS: raw data, Experiment: CMS, Status: in review, Topic: records

#2669 records: fix Minimum bias -> Minimum Bias
  cernopendata/modules/fixtures/data/records/cms-simulated-datasets-Phase2-datascience.json
Labels: CMS: MC, Experiment: CMS, Topic: records

#2617 records: Add GTs for 2012, 2016 and upgrade MC
  cernopendata/modules/fixtures/data/records/cms-condition-data-2012.json
  cernopendata/modules/fixtures/data/records/cms-condition-data-Phase2-datascience.json
  cernopendata/modules/fixtures/data/records/cms-condition-data-Run2-datascience.json
Labels: CMS: Global tag, Experiment: CMS, Status: in review, Topic: records

#2670 records: update cond data description
  cernopendata/modules/fixtures/data/records/cms-condition-data-2012.json
  cernopendata/modules/fixtures/data/records/cms-condition-data-Phase2-datascience.json
  cernopendata/modules/fixtures/data/records/cms-condition-data-Run2-datascience.json
  cernopendata/modules/fixtures/data/records/cms-condition-data-Run2010B.json
  cernopendata/modules/fixtures/data/records/cms-condition-data-Run2011A.json
Labels: CMS: Global tag, Experiment: CMS, Topic: records

#2666 records: fixes to CASTOR records
  cernopendata/modules/fixtures/data/records/cms-primary-datasets-Commissioning2010.json
  cernopendata/modules/fixtures/data/records/cms-simulated-datasets-2010-commissioning.json
Labels: Experiment: CMS, Topic: records

#2678 records: remove cmsdriver script from CASTOR MC provenance
  cernopendata/modules/fixtures/data/records/cms-simulated-datasets-2010-commissioning.json
Labels: CMS: MC generation, Experiment: CMS, Topic: records

#2673 Records: fix code formatting in validated run records
  cernopendata/modules/fixtures/data/records/cms-validated-runs-Commissioning2010-castor.json
  cernopendata/modules/fixtures/data/records/cms-validated-runs-Run2012B.json
  cernopendata/modules/fixtures/data/records/cms-validated-runs.json
Labels: CMS: validated runs, Experiment: CMS, Topic: records

#2676 Records: Add categories to pileup samples
  cernopendata/modules/fixtures/data/records/cms-pileup-datasets-2011.json
  cernopendata/modules/fixtures/data/records/cms-pileup-datasets-2012.json
Labels: CMS: MC, Experiment: CMS, Topic: records

#2656 records: final fixes to ML records
  cernopendata/modules/fixtures/data/records/cms-derived-Run1-datascience.json
  cernopendata/modules/fixtures/data/records/cms-derived-Run2-datascience.json
  cernopendata/modules/fixtures/data/records/cms-simulated-datasets-Phase2-datascience.json
  cernopendata/modules/fixtures/data/records/cms-simulated-datasets-Run1-datascience.json
  cernopendata/modules/fixtures/data/records/cms-simulated-datasets-Run2-datascience.json
  cernopendata/modules/fixtures/data/records/cms-tools-Run1-datascience.json
Labels: Experiment: CMS, Topic: records

#2688 records: add RAWtoAOD example config to usage for RAW records
  cernopendata/modules/fixtures/data/records/cms-raw-datasets-Run2010B.json
  cernopendata/modules/fixtures/data/records/cms-raw-datasets-Run2011A.json
  cernopendata/modules/fixtures/data/records/cms-raw-datasets-Run2012B.json
Labels: CMS: raw data, Experiment: CMS, Topic: records

#2691 records: adds files to commissioning validated runs
  cernopendata/modules/fixtures/data/records/cms-validated-runs-Commissioning2010-castor.json
Labels: CMS: validated runs, Experiment: CMS, Topic: files

#2696 docs: add a non-md short_description to docker guide
  cernopendata/modules/fixtures/data/docs/cms-guide-docker/cms-guide-docker.json
Labels: CMS: instructions, Experiment: CMS, Topic: docs

#2701 records: add files to SW records
  cernopendata/modules/fixtures/data/records/cms-tools-Phase2-datascience.json
  cernopendata/modules/fixtures/data/records/cms-tools-Run1-datascience.json
  cernopendata/modules/fixtures/data/records/cms-tools-Run2-datascience.json
  cernopendata/modules/fixtures/data/records/cms-tools-eventproduction-examples.json
Labels: CMS: software, Experiment: CMS, Topic: files

#2703 records:. clean config file links
  cernopendata/modules/fixtures/data/records/cms-simulated-datasets-Run1-datascience.json
Labels: CMS: MC, Experiment: CMS, Topic: records
