Repository cernopendata/opendata.cern.ch, pull requests merged in 2020-12, with the labels that each got.

#2918 Run2011A pp HI ref datasets
  cernopendata/modules/fixtures/data/records/cms-primary-datasets-HIpp-Run2011A.json
Labels: Experiment: CMS, Topic: records

#2917 CMS - HIRun2011 datasets
  cernopendata/modules/fixtures/data/records/cms-primary-datasets-HIRun2011.json
Labels: Experiment: CMS, Topic: records

#2945 CMS: add a keyword and change the pp description
  cernopendata/modules/fixtures/data/records/cms-primary-datasets-HIRun2010.json
  cernopendata/modules/fixtures/data/records/cms-primary-datasets-HIRun2011.json
  cernopendata/modules/fixtures/data/records/cms-primary-datasets-HIpp-Run2011A.json
  cernopendata/modules/fixtures/data/records/cms-validated-runs-HIRun1.json
Labels: Experiment: CMS, Topic: records

#2947 CMS: add HI sw records
  cernopendata/modules/fixtures/data/records/cms-tools-heavyion-examples.json
Labels: Experiment: CMS, Topic: records

#2950 CMS: Fix VM link in HI sw record
  cernopendata/modules/fixtures/data/records/cms-tools-heavyion-examples.json
Labels: Experiment: CMS, Topic: records

#2957 CMS: fix VM link
  cernopendata/modules/fixtures/data/records/cms-tools-heavyion-examples.json
Labels: Experiment: CMS

#2955 CMS: add HI GTs to cond data guide
  cernopendata/modules/fixtures/data/docs/cms-guide-for-conddb/cms-guide-for-conddb.md
Labels: Experiment: CMS

#2959 CMS: Add keyword to HI sw records
  cernopendata/modules/fixtures/data/records/cms-tools-heavyion-examples.json
Labels: Experiment: CMS, Topic: records

#2961 CMS: update repository links
  cernopendata/modules/fixtures/data/records/cms-tools-heavyion-examples.json
Labels: Experiment: CMS, Topic: records

#2952 CMS: add mention to RECO
  cernopendata/modules/fixtures/data/docs/cms-about/cms-about.md
Labels: Experiment: CMS, Topic: docs

#2966 CMS - add a mention on HI images in docker guide
  cernopendata/modules/fixtures/data/docs/cms-guide-docker/cms-guide-docker.md
Labels: Experiment: CMS, Topic: docs

#2970 CMS: update HI sw repository
  cernopendata/modules/fixtures/data/records/cms-tools-heavyion-examples.json
Labels: Experiment: CMS, Topic: files, Topic: records

#2967 Update ATLAS about page
  cernopendata/modules/fixtures/data/docs/atlas-about/atlas-about.md
Labels: ATLAS: about, Experiment: ATLAS
